<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; Back to home</a></div>
			<br />
			<div class="row title">Page not found</div>

			<div class="row">
				<p>The page you are looking for does not exist on this server.</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
