<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; Back to home</a></div>
			<br />
			<div class="row title">Frequently asked questions</div>

			<div class="row">
				<div class="bold">Can I create a private channel?</div>
				<p>
					There is no password-protected or private channel where you can control who can join. But you can use some
					hard-to-guess channel names or even GUIDs like “81df86c0-6fb5-4bf3-b6e8-14f5d530edad”, reducing the
					possibility of someone ending up there.
				</p>
			</div>

			<div class="row">
				<div class="bold">How many people can join a channel?</div>
				<p>
					There is no hard limit set on the number of users who can join the channel. Since each user who joins the
					channel is streaming video to you, it can get laggy with more concurrent users. It should work without any
					problem for ~ 8 users.
				</p>
			</div>

			<div class="row">
				<div class="bold">Can I embed Hello to my website?</div>
				<p>
					Yes, you can embed any Hello channel to your website using iframe. You can find the
					<a href="https://github.com/vasanthv/hello/blob/master/markdowns/EMBED.md" target="_blank" class="underline"
						>instructions here</a
					>.
				</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
