<br />
<div class="row small light">
	<nav>
		&copy; hello.vasanthv.me &nbsp;
		<a href="/faq">FAQ</a>
		&middot;
		<a href="/privacy">Privacy</a>
		&middot;
		<a href="mailto:hello@vasanthv.me" target="_blank">Contact</a>
		&middot;
		<a href="https://github.com/vasanthv/hello" target="_blank">Github</a>
	</nav>
</div>
