<br />
<div class="row small light">
	<nav>
		&copy; ahey.net &nbsp;
		<a href="/faq">FAQ</a>
		&middot;
		<a href="/privacy">Privacy</a>
		&middot;
		<a href="mailto:vasanth@ahey.net" target="_blank">Contact</a>
		&middot;
		<a href="https://github.com/vasanthv/ahey" target="_blank">Github</a>
	</nav>
</div>
