<br />
<footer>
	<section class="flex">
		<div>
			<iframe
				src="https://ghbtns.com/github-btn.html?user=vasanthv&repo=ahey&type=star&count=true&size=large"
				frameborder="0"
				scrolling="0"
				width="170"
				height="30"
				title="GitHub"
			></iframe>
		</div>
		<nav>
			<a href="https://github.com/vasanthv/ahey/wiki/Embed-Ahey" target="_blank">Embed</a>
			&middot;
			<a href="/terms">Terms</a>
			&middot;
			<a href="/privacy">Privacy</a>
		</nav>
	</section>
	<section>
		<nav>
			<a href="https://buymeacoffee.com/vasanthv" target="_blank">Donate</a>
			<span class="separator">&middot;</span>
			<a href="https://status.ahey.net" target="_blank">Status</a>
		</nav>
	</section>
</footer>
