<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<br />
			<div class="row title">Hello</div>
			<div class="row bold">A free video chat for the web.</div>
			<div class="row">
				<p>A frictionless peer-to-peer video chat app for the web that can be embedded in any web page.</p>
				<p>No sign-ups. No downloads. 100% free.</p>
			</div>

			<div class="row">
				<div id="joinBox" class="flex">
					<span class="light">/</span>
					<input type="text" placeholder="channel-name" class="flex-1" />
					<button onClick="onJoin()">Join</button>
				</div>
			</div>

			<script type="text/javascript">
				const inputElement = document.querySelector("#joinBox input");
				function onJoin() {
					let channelId = document.querySelector("#joinBox input").value;
					if (!channelId) channelId = Math.random().toString(36).substr(2, 6);

					window.location.pathname = channelId;
				}

				inputElement.addEventListener("keypress", function (e) {
					if (e.key === "Enter") {
						e.preventDefault();
						onJoin();
					}
				});

				(() => {
					if ("serviceWorker" in navigator) {
						navigator.serviceWorker.register("/sw.js");
					}
				})();
			</script>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
