<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; Back to home</a></div>
			<br />
			<div class="row title">Invalid channel</div>

			<div class="row">
				<p>
					Channel names can include letters, numbers, and the trusty hyphen (-). No emojis, no spaces, no punctuation
					parties — and keep it under 64 characters, because even channel names need boundaries.
				</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
