<!DOCTYPE html>
<html lang="en">
	<%- include('head'); -%>

	<body>
		<div class="wrap">
			<div class="row"><a href="/" class="small light">&larr; Back to home</a></div>
			<br />
			<div class="row title">Invalid channel</div>

			<div class="row">
				<p>A channel name can only contain alpha-numeric characters & hyphen (-), it also has a max limit of 100 characters.</p>
			</div>

			<%- include('footer'); -%>
		</div>
	</body>
</html>
