@import "icomoon/style.css";

:root {
	--background: #101010;
	--text: #efefef;

	--background-trans: rgba(50, 50, 50, 0.6);
	--red: #c0392b;
	--green: #27ae60;

	--black: #000;
	--white: #fff;
}

* {
	outline: none;
}
html {
	font-size: 1.25rem;
}
html,
body {
	margin: 0px;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	line-height: 1.6;
	background-color: var(--background);
	color: var(--text);
}
label {
	font-weight: bold;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	text-decoration: underline;
}
nav a {
	margin: 0.25rem;
}
nav a:first-child {
	margin-left: 0px;
}
input[type="text"],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	color: var(--text);
	background: var(--background);
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-size: 1rem;
	border: 0.15rem solid var(--text);
}
button {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	color: var(--background);
	background-color: var(--text);
	box-sizing: border-box;
	border: 0.15rem solid var(--text);
	font-weight: bold;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1rem;
	user-select: none;
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
}
button:hover,
button:active,
button:focus {
	text-decoration: underline;
}
::placeholder {
	color: var(--text);
	opacity: 0.75;
}

.bold {
	font-weight: bold;
}
.light {
	opacity: 0.8;
}
.red {
	color: var(--red);
}
.blue {
	color: var(--blue);
}
.small {
	font-size: 0.75rem;
}
.underline {
	text-decoration: underline;
}
.title {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.5rem;
}
.wrap {
	width: 100%;
	max-width: 640px;
	margin: auto;
}
.wrap.max {
	max-width: none;
}
.wrap.mini {
	max-width: 400px;
}
.row {
	margin: 1rem;
}
.name {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.field {
	padding: 0.5rem 1rem;
}
.flex {
	display: flex;
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.flex-1 {
	flex: 1;
}

#joinBox {
	position: relative;
	max-width: 480px;
}
#joinBox > span {
	position: absolute;
	top: -0.1rem;
	bottom: 0rem;
	left: 1rem;
	box-sizing: border-box;
	line-height: 2.4rem;
	z-index: 5;
}
#joinBox > input {
	z-index: 10;
	background: none;
	padding-left: calc(1ch + 1rem);
}
#joinBox > button {
	width: auto;
	height: 100%;
	margin-left: 0.5rem;
}
#app > .wrap {
	visibility: hidden;
}
#toast {
	background-color: var(--text);
	color: var(--background);
	text-align: center;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: 0rem;
	max-height: 0;
	margin: auto;
	overflow: hidden;
	font-size: 1rem;
	line-height: 2rem;
	transition: max-height 0.25s ease-in;
}
#toast.show {
	max-height: 5rem;
}
#toast.error {
	background: var(--red);
}
#toast.success {
	background: var(--green);
}
#nameWrap {
	margin-top: 5rem;
}
#myName {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 1rem;
}
#videos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#videos .video.self video {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
#videos .video {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	max-width: 400px;
	height: 300px;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.25rem;
}
#videos .video .name {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	background: var(--background-trans);
	color: var(--white);
	font-size: small;
	padding: 0.1rem 0.25rem;
	border-radius: 0.2rem;
	z-index: 5;
}
#videos .video .name i.green {
	color: var(--green);
}
#videos .video .buttons {
	position: absolute;
	z-index: 5;
	bottom: 0.5rem;
	right: 0rem;
	left: 0rem;
	margin: auto;
	width: 6rem;
	display: flex;
	justify-content: space-around;
}
#videos .video .buttons button {
	height: 2.5rem;
	width: 2.5rem;
	margin: auto;
	text-align: center;
	padding: 0px;
	border-radius: 50%;
	background-color: var(--background);
	border-color: var(--background);
	color: var(--text);
}
#videos .video .buttons button:hover,
#videos .video .buttons button:active,
#videos .video .buttons button:focus {
	text-decoration: none;
}
#videos .video video {
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	box-sizing: border-box;
	object-fit: cover;
	border-radius: 0.5rem;
}
#chatwrap .blanket {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	background: var(--background-trans);
}
#chatwrap #chatContainer {
	background: var(--white);
	color: var(--background);
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	z-index: 15;
	width: 100%;
	max-width: 400px;
	height: calc(50vh - 2rem);
	margin: auto;
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
}
#chatwrap #chats {
	color: var(--black);
	flex: 1;
	overflow-y: auto;
}
#chatwrap textarea {
	color: var(--black);
	background: var(--white);
	border: 0.15rem solid var(--background-trans);
}
#chatwrap textarea::placeholder {
	color: var(--background-trans);
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 1rem;
	}
}
